<div class="contact_full">
    <br/><br/>
    <strong>Name:</strong> {{nameFirst}} {{nameLast}}<br/>
    <strong>Email:</strong> {{email}}<br/>
    <strong>Phone:</strong> {{phone}}<br/><br/>
     <strong>Carrier:</strong> {{carrier}}<br/><br/>

</div>
<button type="submit" class="btn btn-default button-back">Back</button>
<button type="submit" class="btn btn-default button-delete">Delete Contact</button>
